@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: #8cc461;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.1em;
  color: #ffffff;
  width: 200px;
  height: 150px;
}
.game-center {
  position: absolute;
  width: 800px;
  height: 158px;
  left: 300px;
  top: 100px;
  display: flex;
  justify-content: space-around;

  border: 2px solid #ffffff;
  border-radius: 10px;
}
.comp-score {
  width: 130px;
  height: 120px;
  margin-top: 10px;
  color: black;
  margin-left: 150px;
  /* border: 2px solid black; */
  font-family: "Roboto";
  font-style: normal;

  padding: 10px;

  background: #ffffff;
  border-radius: 5px;
}

.our-score {
  width: 130px;
  height: 120px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  /* border: 2px solid black; */
  font-family: "Roboto";
  font-style: normal;
  /* font-weight: 600; */
  padding: 10px;
}

.img-container {
  margin-left: 400px;
  margin-top: 370px;
}

.scissor-img {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  margin-top: -40px;
  margin-left: 100px;
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.scissor-img img {
  margin-top: 20px;
}
.paper-img {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  margin-top: -140px;
  margin-left: 350px;
  border: 16px solid #bd00ff;

  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.paper-img img {
  margin-top: 20px;
}

.rock-img {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  margin-top: 60px;
  margin-left: 236px;
  border: 16px solid #ffa943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.rock-img img {
  margin-top: 20px;
}

.frame {
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 300px; */
  margin-top: -370px;
  margin-right: 40px;
}
.layer {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;

  padding: 5px;
  border-radius: 10px;
}
.layer .layer-text {
  text-align: center;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.1em;

  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  margin-top: 350px;
  margin-left: 200px;
}

.layer1-next,
.layer1-text {
  text-align: center;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.1em;

  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 25px;
  border: 3px solid white;
  padding: 5px;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 1350px;
  /* margin-top: 5px; */
}

.popup .popuptext {
  visibility: hidden;
  width: 300px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -300px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cross {
  position: absolute;
  margin-top: -430px;
  /* margin-left: 1390px; */
  background-color: red;
  border-radius: 50%;
  padding: 12px;
  border: 5px solid #ffffff;
  visibility: hidden;
  z-index: 100;
}

.cross .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.line1 {
  position: absolute;
  padding-top: 70px;
  margin-left: 230px;
}
.line2 {
  position: absolute;
  margin-left: 330px;
  margin-top: 120px;
}
.line3 {
  position: absolute;
  margin-left: 200px;
  margin-top: 125px;
}
/* Mewin html styling  */

#head1{
  margin-left: -50px;
}
.paper-img1 {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  border: 16px solid #bd00ff;

  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  background: rgba(46, 154, 37, 0.39);
  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);

  height: 200px;
  width: 200px;
   background-image: radial-gradient(circle, red, yellow, green);
   margin-left: -100px;
}

.rock-img1 {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  margin-top: 60px;
  margin-left: 236px;
  border: 16px solid #ffa943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  margin-left: 450px;
  margin-top: -135px;

  

}
.paper-img1 img {
  margin-top: 70px;
}
.rock-img1 img {
  margin-top: 20px;
}
.layer1-text {
  margin-top: 470px;
  margin-left: -250px;
}
.layer1-next {
  margin-left: -100px;
  margin-top: 470px;
  color: blue;
  background-color: white;
  border: 2px solid black;
  text-decoration: none;
}
.win-part {
  position: absolute;
  margin-left: 220px;
  margin-top: -150px;
}
.win-part span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.win-part b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.win-part button {
  background: #ffffff;
  border-radius: 9px;
  width: 174px;
  height: 44px;
}

/* You lost styling */

#ply-agn a {
  text-decoration: none;
  color: aqua;
  font-family: "Roboto";
  font-size: x-large;
  text-transform: bold;
}

.ply-btn{
  text-decoration: none;
  color: aqua;
  font-family: "Roboto";
  font-size: x-large;
  text-transform: bold;
}

.paper-img2 {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;

  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
  border: 16px solid #ffa943;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.rock-img2 {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  margin-top: 60px;
  margin-left: 236px;
  border: 16px solid #bd00ff;

  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  background: rgba(46, 154, 37, 0.39);
  margin-left: 450px;
  margin-top: -135px;
  height: 200px;
  width: 200px;
   background-image: radial-gradient(circle, red, yellow, green);
}
#head4{
  margin-left: 70px;
}

.rock-img2 img {
  margin-top: 70px;
}
.paper-img2 img {
  margin-top: 20px;
}
#rules {
  margin-left: -82px;
  margin-top: 500px;
}
.heading1 {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1em;

  color: #ffffff;
  display: flex;
  gap: 350px;
  margin-left: 420px;
  margin-top: -50px;
}
.heading1 #head1 {
}

/* Tie Up styling */

#replay {
  text-decoration: none;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paper-img3 {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;

  box-shadow: 0px 1px 62px rgba(0, 0, 0, 0.13);
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
.rock-img3 {
  width: 110px;
  height: 110px;
  background: #ffffff;
  box-shadow: inset 3px 0px 21px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  margin-top: 60px;
  margin-left: 236px;
  border: 16px solid #0074b6;
  filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
  margin-left: 450px;
  margin-top: -135px;
}

.rock-img3 img {
  margin-top: 20px;
}
.paper-img3 img {
  margin-top: 20px;
}

/* Final styles */

#rules1 {
  margin-top: 490px;
  margin-left: -90px;
}
.container {
  margin-top: 150px;
}

/* .star1{
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
} */
.starr1 {
  position: absolute;
  margin-left: 600px;
}
.starr2 {
  position: absolute;
  margin-left: 700px;
  margin-top: -150px;
}
.starr3 {
  position: absolute;
  margin-left: 850px;
  margin-top: 5px;
}
.starr4 {
  position: absolute;
  margin-left: 850px;
  margin-top: -115px;
}
.starr5 {
  position: absolute;
  margin-left: 890px;
  margin-top: 5px;
}
.starr6 {
  position: absolute;
  margin-left: 550px;
  margin-top: 25px;
}
.starr7 {
  position: absolute;
  margin-left: 550px;
  margin-top: -115px;
}
.starr8 {
  position: absolute;
  margin-left: 730px;
  margin-top: -35px;
}

.info {
  margin-left: 550px;
}
.info .info1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 91px;
  line-height: 107px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}
.info .info2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}
#ply-btn {
  margin-left: 650px;
  margin-top: 100px;
}

/* MEDIA QUERY */

@media screen and (max-width: 480px) {
  body{
    margin: 0px;
    padding: 0px;
  }
  .heading {
    font-size: 20px;
    
  }
  .game-center{
    width: 400px;
  }
  .comp-score,.our-score{
    font-size: 10px;
    margin: 10px;
  }
  .img-container{
    width: 400px;
    margin-left: 190px;
  }
  .popup__container{
    margin-left: -50px;
  }
  .popup{
    margin-left: 400px;
  }
}